@import url('halloween.css');


@media screen { 
html {
    background: lightgray;
    padding: 6px
}
header {
    text-align: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}
body {
    display: block;
    margin: 8px;
    color: red;
    font-size: 24px/100%
}

nav ul li {list-style:none;
    display: inline-block;

    padding: 5px

}

nav a:link {color: white; background-color:red}


nav a:hover {
    color: rgb(0, 255, 98);
    background-color: white
}

h1 {
    font-family: 'Coorier', Georgia, serif;
    font-size: 2em
}

h2 {
    color: green;
    font-style: italic;
    font-size: 1.5em
}

header h2 {
    color: black;

}
#cupcake h2 span {
    color: black
}

article {
    border-bottom: 2px solid red;
    padding: 6px

}
article h2 { background-image: linear-gradient(to bottom, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); }

p {
    color: blue;
    font-size: 18px
}
li {
    font-variant: small-caps
}
p.two {
    color: black;
    font: bold 15px Arial, sans-serif;
}
footer {
    font-weight: bold
}
}



